<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.parkingManagement.repository.ICCardMapper">
    <resultMap id="BaseResultMap" type="com.example.parkingManagement.model.IC_Card">
        <constructor>
            <idArg column="icCardId" javaType="_long" jdbcType="BIGINT"/>
            <arg column="parkingNumber" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="userNickname" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="userSex" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="userAddress" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="parkCardNumber" javaType="java.lang.String" jdbcType="VARCHAR"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
    icCardId,
    parkingNumber,
    userNickname,
    userSex,
    userAddress,
    parkCardNumber
    </sql>
    <sql id="Insert_Column_List">
    parkingNumber,
    userNickname,
    userSex,
    userAddress,
    parkCardNumber
    </sql>
    <select id="selectByPrimaryKey" parameterType="_long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ic_card
        where icCardId = #{id,jdbcType=BIGINT}
    </select>
    <select id="selectIcCard" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ic_card
    </select>
    <insert id="insertIcCard" parameterType="com.example.parkingManagement.model.IC_Card">
        insert into ic_card(
        <include refid="Insert_Column_List"/>
        )values (
        #{parkingNumber}
        ,#{userNickname}
        ,#{userSex}
        ,#{userAddress}
        ,#{parkCardNumber}
        )
    </insert>
    <update id="updateIcCard" parameterType="com.example.parkingManagement.model.IC_Card">
        update ic_card set
        parkingNumber=#{parkingNumber}
        ,userNickname=#{userNickname}
        ,userSex=#{userSex}
        ,userAddress=#{userAddress}
        ,parkCardNumber=#{parkCardNumber}
        where icCardId = #{icCardId}
    </update>
</mapper>