<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.parkingManagement.repository.TemporaryMapper">
    <resultMap id="BaseResultMap" type="com.example.parkingManagement.model.Temporary">
        <constructor>
            <idArg column="temporaryParkingId" javaType="_long" jdbcType="BIGINT"/>
            <arg column="temporaryICCard" javaType="_long" jdbcType="BIGINT"/>
            <arg column="parkCardNumber" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="enterDate" javaType="java.lang.String" jdbcType="DATE"/>
            <arg column="outDate" javaType="java.lang.String" jdbcType="DATE"/>
            <arg column="parkingMoney" javaType="java.lang.String" jdbcType="VARCHAR"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
    temporaryParkingId,
    temporaryICCard,
    parkCardNumber,
    enterDate,
    outDate,
    parkingMoney,
    </sql>
    <sql id="Insert_Column_List">
    temporaryICCard,
    parkCardNumber,
    enterDate,
    outDate,
    parkingMoney,
    </sql>
    <select id="selectByPrimaryKey" parameterType="_long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from `temporary`
        where temporaryParkingId = #{id,jdbcType=BIGINT}
    </select>
    <select id="selectRecord" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from `temporary`
    </select>
    <insert id="insertRecord" parameterType="com.example.parkingManagement.model.Temporary">
        insert into `temporary` (
        <include refid="Insert_Column_List"/>
        )values (
        #{temporaryICCard},
        #{parkCardNumber},
        #{enterDate},
        #{outDate},
        #{parkingMoney}
        )
    </insert>
    <update id="updateRecord" parameterType="com.example.parkingManagement.model.Temporary">
        update `temporary` set
        temporaryICCard = #{temporaryICCard},
        parkCardNumber = #{parkCardNumber},
        enterDate = #{enterDate},
        outDate = #{outDate},
        parkingMoney = #{parkingMoney}
        where temporaryParkingId = #{temporaryParkingId}
    </update>
</mapper>